/Pothole_Detector_Python/.idea/
/Pothole_Detector_Python/venv/
/Pothole_Detector_Stm32/
/Pothole_Detector_Stm32F407_copy/
/Pothole_Detector_Stm32F407/.metadata/
/Pothole_Detector_Stm32F407/Pothole_Detector/.settings/